/__pycache__
/venv
.DS_Store
data_2025.csv
.DS_Store
.DS_Store
.vscode/settings.json
/backend/__pycache__
/backend/database/__pycache__
/backend/models/__pycache__
/backend/services/__pycache__
/frontend/node_modules
/frontend/build
.DS_Store
